@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;}
body{
  background-color: rgb(231, 231, 231);
}


.container{
  width: 70%;
    text-decoration: none;

}
.logout {
  padding: 5px;
  margin-top: 5px;
  border-radius: 9px;
  border: none;
  background-color: #FF428A;
  cursor: pointer;
  box-shadow: 4px 9px 18px -10px rgba(0, 0, 0, 0.25);


}

.logout:hover {
  background-color: #ec8cb1;
  color: rgb(131, 131, 131);
}

.w3-quarter{
  margin-bottom: 10px;
}

.w3-card.w3-container{
  background-color: transparent;
  border: 1px solid rgb(216, 216, 216);
  
}
.w3-card.w3-container:hover {
background-color: rgb(113, 182, 92);
color:rgb(0, 0, 0);
}

a:hover {
  color: rgb(74, 167, 116);
  text-decoration: none;
}

a {
  text-decoration: none;
}

