@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: rgb(153, 111, 175);
}


.container{
  width: 70%;
    text-decoration: none;

}

.w3-quarter{
  margin-bottom: 10px;
}

.w3-card.w3-container{
  background-color: rgb(178, 133, 204);
  
}
.w3-card.w3-container:hover {
background-color: rgb(128, 209, 104);
border-radius: 17px;
color:rgb(81, 6, 124);
}

a:link {
  text-decoration: none;
}

a{
  text-decoration: none;
}

